<template>
    <div class="col-lg-8 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary float-left">Daily Sales</h6>
                <a href="#" class="float-right" @click="toggleDataMonth" ref="toggleData">{{ filterData }}</a>
            </div>
            <div class="card-body">
    
                <div class="row">
                    <div class="col-lg-12">
                        <canvas ref="lineChart" height="300"></canvas>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</template>

<script>
import Chart from 'chart.js';
import moment from 'moment';

export default {
    props: {
        chart_data: {
            type: Object,
            required: false
        },
    },
    data () {
        return {
            line_data_length: [],
            lineChartData: JSON.parse(this.chart_data.earnings_daily),
            lineChartDataLastMonth: JSON.parse(this.chart_data.earnings_last_month_daily),
            backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            lineGraph: null,
            filterData: 'View Last Months Earnings',
            toggleLastMonthData: true,
            currentDate: moment().format('MMMM YYYY'),
            currentMonth: moment().format('MMM'),
        }    
    },
    created(){        
                
    },
    mounted () {
        this.drawLineChart();
    },
    methods : {
        toggleDataMonth(){
            console.log('fired');
            this.toggleLastMonthData = !this.toggleLastMonthData;
            this.$refs.toggleData.innerText = this.toggleLastMonthData ? "View Last Months Earnings" : "Show this Month's Earnings";

            if(!this.toggleLastMonthData){
                this.lineChartData = JSON.parse(this.chart_data.earnings_last_month_daily);
                this.currentDate = moment().subtract(1, 'months').format('MMMM YYYY');
                this.currentMonth = moment().subtract(1, 'months').format('MMM');
            } else {
                this.lineChartData = JSON.parse(this.chart_data.earnings_daily);
                this.currentDate = moment().format('MMMM YYYY');
                this.currentMonth = moment().format('MMM');
            }

            this.drawLineChart();
        },
        drawLineChart(){         
            let chartInfo = [];
            let daily_earnings = [];
            let labels = [];

            this.line_data_length = this.lineChartData.map((element) => this.currentMonth+' '+  element.day);
            daily_earnings = this.lineChartData.map((element) => element.total_amount);
            
            chartInfo = {
                'daily_earnings': daily_earnings,
                'length' : this.line_data_length,
                'date': this.currentDate,
            };

            this.lineGraph = new Chart(this.$refs.lineChart, {
                type: 'line',
                data: {
                    labels: chartInfo['length'],
                    datasets: [
                        {
                            label: 'Daily earnings of '+ chartInfo['date'],
                            data: chartInfo['daily_earnings'],
                            defaultFontFamily   : 'Open Sans',
                            defaultFontSize     : 25,
                            pointRadius      : 5,
                            backgroundColor: ['rgba(54, 162, 235, 0.2)'],
                            pointBackgroundColor : 'rgba(54, 162, 235, 0.2)', 
                            pointBorderColor:  'rgba(54, 162, 235, 1)',  
                            borderColor: ['rgba(54, 162, 235, 1)'],                      
                            borderWidth: 2,
                            showLine: true,
                            fill: true
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,  
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }                  
                }
            });
        },
    }
}
</script>
<style scoped>


</style>

