<template>
<div class="col-lg-4 mb-4">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Campaign Conversions</h6>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-lg-12">
                    <canvas ref="pieChart" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import Chart from 'chart.js';
import moment from 'moment';

export default {
    props: {
        chart_data: {
            type: Object,
            required: false
        },
    },
    data () {
        return {
            chartData: JSON.parse(this.chart_data.earnings_daily),
            views: JSON.parse(this.chart_data.campaign_views),
            backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            pieGraph: null,
        }    
    },
    created(){        
                
    },
    mounted () {
        this.drawPieChart();
    },
    methods : {
        drawPieChart(){
            let currentDate = moment().format('MMMM YYYY');            
            let chartInfo = [];
            let daily_subscriptions = [];
            let labels = [];
            let current_month = moment().format('MMM');

            daily_subscriptions = this.chartData.map((element) => element.total_leads);
            
            chartInfo = {
                'subscriptions': daily_subscriptions,
                'date': currentDate,
                'views': this.views,
            };
            let subscriptions = chartInfo['subscriptions'].reduce((acc, item) => acc + item, 0);
            let inner_data = [chartInfo['views'], subscriptions];
            let inner_label = ['Views', 'Subscriptions'];

            this.pieGraph = new Chart(this.$refs.pieChart, {
                type: 'doughnut',
                data: {
                    labels: inner_label,
                    datasets: [{
                        data: inner_data,
                        backgroundColor: this.backgroundColor,
                        borderColor: this.borderColor,
                  }],
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: {
                        display: true,
                        text: 'Views Vs Submissions',
                    },
                }
            });
        },
    }
}
</script>
<style scoped>


</style>

